<!DOCTYPE html>
<html lang="en">

<head>
    <% include shared/head %>
</head>

<body>
    <ul>
        <!-- 把LIST的資料一個一個取出 -->
        <!-- <%= %>顯示的資料要加等號 -->
        <!-- <% %>邏輯不用加等號 -->
        <!-- 新型態的js forEach -->
        <% list.forEach((item, i) => { %>
        <li>
            <a href="/quote/<%= i %>">
                <%= item.author %> : <%= item.text %></a>
        </li>
        <% }) %>


    </ul>
    <section class="py-3">
        <p><%= list %></p>
        <h1>作者: <%= quote.author %></h1>
        <h3>名言: <%= quote.text %> </h3>
        <img src="<%= quote.img %>" alt="">
    </section>
</body>

</html>